.shop-container {
    display: grid;
    grid-template-columns: 4fr 1fr;


}

.products-container {
    margin-top: 120px;
    margin-left: 40px;
    margin-right: 40PX;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 45px;
}

.cart-container {
    position: fixed;
    top: 80px;
    right: 0;
    height: 800px;
}
.btn-proceed{
    display: flex;
    justify-content: center;
    width: 232px;
    height: 48px;
    flex-shrink: 0;
    margin: 10px auto;
    align-items: center;
    border-radius: 4px;
    background: #FF9900;
    color: white;
    font-family: Lato;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.085px;
    
}
.proceed-link{
    text-decoration: none;
}
.clear-icon{
    margin-left: 4px;
}


  @media only screen and (max-width: 950px) {
    .products-container {
        margin-top: 120px;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 45px;
    }
    .shop-container {
        display: grid;
        grid-template-columns: 2fr 1fr;
    
    
    }
  }

  @media only screen and (min-width: 950px) and (max-width:1300px) {
    .products-container {
        margin-top: 120px;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 45px;
    }

  }

