.header{
background-color: #1C2B35;
height: 80px;
display: flex;
justify-content: space-between;
padding-left: 100px;
padding-right: 100px;
align-items: center;
position: sticky;
top: 0px;
z-index: 10;
}

nav.header a{
    text-decoration: none;
    color: white;
    margin-left:30px ;
}

nav.header a:hover{
    color: orange;
}

nav img{
    width: 140px;
}goi